<nav class="menu-nav">
    <div class="menu-header">
        <h2 class="text-primary">Mega<span class="text-secondary">Bites</span></h2>
    </div>
    <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>
</nav>
<div id="mobile-menu">
    <!-- <div class="brand-logo">
        <div class="logo"></div>
        <h4 class="text-primary">Mega Bites</h4>
        <div class="footer">
            Copyright &copy; 2020
        </div>
    </div> -->
    <ul class="nav-links">
        <li class="nav-item current">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/menu" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
            <a href="/reservation" class="nav-link">Reservation</a>
        </li>
        <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
        </li>
    </ul>
</div>