<footer id="footer">
    <div class="footer-body">
        <div class="home-locate">
            <h3>Find Us At</h3>
            <p>10th Street, Motion Avenue. Opposite Post Office</p>
            <h3>Open Hours</h3>
            <p>6 AM - 2 AM(MON - FRI)</p>
            <p>7 AM - 12 AM(SAT & SUN)</p>
            <h3>Follow us on</h3>
            <div class="icons">
                <a href="" class="social-link">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="" class="social-link">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="" class="social-link">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="" class="social-link">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="home-contact">
            <h3>Contact Us</h3>
            <p>(+256) 786 890105</p>
            <p>(+033) 088 899005</p>
            <p>info@megabites.com</p>
            <p>reservation@megabites.com</p>
        </div>
        <div class="home-navlinks">
            <h3>Page Links</h3>
            <a href="/" class="current">Home</a>
            <a href="/menu">Menu</a>
            <a href="/reservation">Reservation</a>
            <a href="/about">About</a>
        </div>
        <div class="home-comment">
            <h3>Leave a comment</h3>
            <form class="comment">
                <div class="input">
                    <label for="fullname">Full name</label>
                    <input type="text" id="fullname" name="commentName" placeholder="eg. John Doe">
                    <div class="error name-error"></div>
                </div>
                <div class="input">
                    <label for="comment">Your comment</label>
                    <textarea name="comment" id="" cols="30" rows="5" placeholder="Your comment ..."></textarea>
                    <div class="error comment-error"></div>
                </div>
                <input type="submit" value="submit" class="btn">
            </form>
        </div>
    </div>
    <div class="footer-copyright">
        All Rights Reserved Copyright &copy; 2020 Designed By| <span class="text-secondary">Novalabs</span>
    </div>
</footer>